* {
    margin: 0;
    padding: 0;
}


.box {
    width: 500px;
    height: 500px;
    background-color: red;
    transition: 0.5s ease;
}

.box-extra {
    width: 500px;
    height: 500px;
    background-color: orange;
}